/* Estilos globais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para a seção de rodapé */
.footer {
  background-color: #556B2F;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Estilos para o título "Contatos" */
.contato h1 {
  font-size: 20px;
}

/* Estilos para os links de contato */
.contato p {
  margin: 5px 0;
  font-size: 16px;
}

/* Estilos para os links */
.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
